.lista {
    display: flex;
    flex-direction: column;
}

.tasklen {
    opacity: 0.7;
    margin: 10px 0;
}

@media (max-width: 500px) {
    .lista {
        margin: 16px;
    }

    .tasklen {
        margin: 10px 16px;
    }
}