.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botaoAddTarefa {
    background-color: #16A34A;
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 10px;
}